@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,500;0,700;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
header {
  width: 100%;
  height: 75px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.logo {
  width: max-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo i {
  color: #24c189;
}

.logo-title {
  font-size: 36px;
}

.logo-title a {
  color: #3f3f3f;
}

.logo-title a span {
  color: #24c189;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  list-style: none;
  gap: 40px;
  align-items: center;
}

.link {
  font-size: 18px;
  color: #198660;
}

.link:hover {
  text-decoration: underline;
}

.navegacao .fa-bars {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 20px 100px;
  text-align: center;
}

main h1 {
  color: #3f3f3f;
}

.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.form-content {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 5px;
}

.input {
  width: 100%;
  border: 2px solid #24c189;
  border-radius: 5px;
  height: 50px;
  padding: 10px;
  font-size: 90%;
}

.btn-cadastro {
  border: none;
  background-color: #24c189;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  width: 100%;
  margin-top: 10px; /* Ajustado para mais espaço acima */
  font-weight: 500;
  font-size: medium;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-cadastro:hover {
  background-color: #18835b;
  color: #fff;
}

.dialog-incorreto {
  position: absolute;
  text-align: center;
  width: 250px;
  height: 250px;
  border: none;
  border-radius: 5px;
  margin: 50vh auto;
  background-color: #fff;
  box-shadow: 10px 10px 44px -8px;
}

.dialog-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.dialog-content .close-content {
  width: 100%;
}

.dialog-incorreto .close-button {
  cursor: pointer;
  border: none;
  width: 50%;
  height: 30px;
  border-radius: 5px;
  background-color: #ff3737;
  color: #fff;
}

.close-button:hover {
  background-color: #b82020;
}

.dialog-incorreto::backdrop {
  background: rgba(0, 0, 0, 0.329);
}

@media screen and (width < 768px) {
  .logo-title {
    font-size: 32px;
  }
  main {
    padding: 20px 40px;
  }
}

@media screen and (width < 576px) {
  header {
    padding: 0 20px;
  }
  main {
    padding: 20px 0;
  }

  .logo {
    flex-direction: row-reverse;
  }
  .logo .fa-ship {
    display: none;
  }
  .navegacao .fa-bars {
    display: block;
    z-index: 1;
    color: #24c189;
    position: relative;
  }

  .menu {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    transition: 0.3s ease;
    flex-direction: column;
    justify-content: space-around;
    gap: 0;
  }

  .menu.active {
    top: 0;
  }
  .form-container {
    padding: 0 20px;
  }

  .form-content {
    width: 100%;
  }
}
