@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,500;0,700;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  height: 75px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  position: fixed;
}

.logo {
  width: max-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo i {
  color: #24c189;
}

.logo-title {
  font-size: 36px;
}

.logo-title a {
  color: #3f3f3f;
}

.logo-title a span {
  color: #24c189;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  list-style: none;
  gap: 40px;
  align-items: center;
}

.link {
  font-size: 18px;
  color: #198660;
}

.link:hover {
  text-decoration: underline;
}

.navegacao i {
  cursor: pointer;
  display: none;
}

main {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 85px 0 10px 0;
}

.main-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 40px;
  padding: 20px;
}

.user-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 0 80px 0 0;
}

.user-content p {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #1717171e;
}

.user-content label {
  width: 100%;
  font-weight: bold;
  text-align: left;
}

.cartao-area {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cartao {
  display: flex;
  flex-direction: column;
  width: 410px;
  height: 240px;
  border-radius: 18px;
  box-shadow: 10px 10px 22px -10px rgba(0, 0, 0, 0.75);
  background: url("../img/img-bg-cartao.png") center/cover no-repeat;
  padding: 20px;
}
.cartao h1 {
  font-size: 30px;
}
.header-cartao {
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.fa-wifi {
  rotate: 90deg;
  font-size: 22px;
  display: flex;
  justify-content: end;
}

.content-cartao {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: #fff;
}

.info-usuario {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.content-cartao p {
  font-size: 20px;
}

@media screen and (width < 1024px) {
  header {
    padding: 0 40px;
  }
  .user-content {
    padding: 0 20px 0 0;
  }
  main {
    padding: 85px 40px 10px 40px;
  }
}

@media screen and (width < 768px) {
  header {
    padding: 0 30px;
  }
  .logo-title {
    font-size: 32px;
  }

  main {
    height: auto;
    padding-bottom: 10px;
  }
  .main-content {
    flex-direction: column-reverse;
    padding: 20px;
  }

  .user-content {
    width: 410px;
    padding: 0;
  }

  .navegacao .fa-bars {
    display: block;
    z-index: 1;
    color: #24c189;
    position: relative;
  }

  .navegacao .fa-xmark {
    display: block;
    z-index: 1;
    color: #24c189;
    position: relative;
  }

  .menu {
    position: absolute;
    top: -35rem;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    transition: 0.3s ease;
    flex-direction: column;
    justify-content: space-around;
    gap: 0;
  }

  .menu.active {
    top: 0;
  }
}

@media screen and (width < 456px) {
  main {
    padding: 85px 0 10px 0;
  }
  header {
    padding: 20px;
  }
  .logo .icon {
    display: none;
  }
  .logo-title {
    font-size: 28px;
  }
  .cartao {
    width: 100%;
    height: 210px;
  }
  .user-content {
    width: 100%;
  }
  .info-usuario p {
    font-size: 16px;
  }
}
