@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,500;0,700;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  height: 75px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 100px;
  position: fixed;
}

.logo {
  width: max-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo i {
  color: #24c189;
}

.logo-title {
  font-size: 42px;
}

.logo-title a {
  color: #171717;
}

.logo-title a span {
  color: #24c189;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  list-style: none;
  gap: 40px;
  align-items: center;
}

.link {
  font-size: 18px;
  color: #198660;
}

.link:hover {
  text-decoration: underline;
}

.link-cadastrar {
  font-size: 20px;
  padding: 8px 14px;
  color: #fff;
  border: 1px solid #fff;
  background-color: #24c189;
  border-radius: 7px;
  font-weight: 500;
  cursor: pointer;
}

.link-cadastrar:hover {
  color: #fff;
  transition: 0.3s ease-in-out;
  background-color: #188861;
}

.main-container {
  padding: 75px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  gap: 30px;
}

.main-container .text-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-content p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  color: #555555;
}

.text-content .main-title {
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
  color: #2e2e2e;
  font-size: 30px;
}

.img-content {
  width: 80%;
  height: 100%;
}

.img-content img {
  width: 100%;
}

.about-section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 75px 100px 0 100px;
  flex-direction: row-reverse;
  gap: 50px;
}

.about-section .text-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.about-section .text-content h2 {
  color: #2e2e2e;
  font-family: "Josefin Sans", sans-serif;
  font-size: 32px;
}

.about-section .text-content p {
  font-size: 22px;
  font-family: "Jost", sans-serif;
}

.about-section .img-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.about-section .img-content img {
  width: 100%;
}

.integrantes-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  font-weight: 500;
  width: 100%;
  height: auto;
  padding: 20px 100px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
