@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  height: 100px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 100px;
  position: fixed;
}

.logo {
  width: max-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo i {
  color: #24c189;
}

.logo-title {
  font-family: "Poppins", sans-serif;
  font-size: 42px;
}

.logo-title a {
  color: #171717;
}

.logo-title a span {
  color: #24c189;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  list-style: none;
  gap: 40px;
  align-items: center;
}

.link {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #198660;
}

.link:hover {
  text-decoration: underline;
}

.link-cadastrar {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding: 8px 14px;
  color: #fff;
  border: 1px solid #fff;
  background-color: #24c189;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}

.link-cadastrar:hover {
  color: #fff;
  transition: 0.3s ease-in-out;
  background-color: #188861;
}

.main-container {
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  text-align: center;
}

.about-section {
}

footer {
  font-family: "Open-Sans", sans-serif;
  font-weight: 500;
  width: 100%;
  height: auto;
  padding: 20px 100px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
