@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,500;0,700;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  height: 75px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 100px;
  position: fixed;
  z-index: 999;
}

.logo {
  width: max-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo i {
  color: #24c189;
}

.logo-title {
  font-size: 36px;
}

.logo-title a {
  color: #3f3f3f;
}

.logo-title a span {
  color: #24c189;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  list-style: none;
  gap: 40px;
  align-items: center;
}

.link {
  font-size: 18px;
  color: #198660;
}

.link:hover {
  text-decoration: underline;
}

.link-cadastrar {
  font-size: 20px;
  padding: 8px 14px;
  color: #fff;
  border: 1px solid #fff;
  background-color: #24c189;
  border-radius: 7px;
  font-weight: 500;
  cursor: pointer;
}

.link-cadastrar:hover {
  color: #fff;
  transition: 0.3s ease-in-out;
  background-color: #188861;
}

.main-container {
  padding: 75px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  gap: 30px;
}

.main-container .text-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-content p {
  font-family: "Jost", sans-serif;
  font-size: 24px;
  color: #555555;
}

.text-content .main-title {
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
  color: #3f3f3f;
  font-size: 36px;
}

.img-content {
  width: 80%;
  height: 100%;
}

.img-content img {
  width: 100%;
}

.about-section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 75px 100px 0 100px;
  flex-direction: row-reverse;
  gap: 50px;
}

.about-section .text-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.about-section .text-content h2 {
  color: #3f3f3f;
  font-family: "Josefin Sans", sans-serif;
  font-size: 32px;
}

.about-section .text-content p {
  font-size: 22px;
  font-family: "Jost", sans-serif;
}

.about-section .img-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.about-section .img-content img {
  width: 100%;
}

.integrantes-section {
  width: 100%;
  height: 100vh;
  padding: 75px 100px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.integrantes-section h2 {
  color: #3f3f3f;
  font-family: "Jost", sans-serif;
  font-size: 32px;
}

.team-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.card {
  width: 300px;
  height: 400px;
  border-radius: 5px;
  box-shadow: 6px 6px 14px -6px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  border: 2px solid #24c189;
  transition: 0.2s ease-in-out;
}

.card:hover {
  scale: 1.04;
}

.card .img-container {
  width: 120px;
  height: 150px;
}

.card .img-container img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.links-container {
  display: flex;
  width: max-content;
  height: max-content;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.github-icon .fa-github {
  color: #198660;
}

.linkedin-icon .fa-linkedin {
  color: #198660;
}

.contact-section {
  width: 100%;
  height: 100vh;
  padding: 75px 100px 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-section .container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-section .container .content {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.contact-section .container .content h2 {
  font-size: 42px;
  color: #3f3f3f;
}

.contact-section .container .content img {
  width: 100%;
}

.container .contact-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-form .inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
}

.container-form .inputs .input {
  padding: 10px;
  border: none;
  background-color: #e7e7e7;
  outline: none;
  font-size: 14px;
}

textarea {
  resize: none;
  height: 100px;
  border: none;
  background-color: #e7e7e7;
  padding: 10px;
  outline: none;
}

.btn-form {
  width: 100%;
}
.btn-submit {
  width: 100%;
  padding: 8px;
  cursor: pointer;
  border: 2px solid #24c189;
  background-color: #fff;
  font-size: 16px;
}

.btn-submit:hover,
.btn-submit:focus {
  color: #fff;
  transition: 0.8s ease-in-out;
  box-shadow: inset 400px 0 0 0 #24c189;
}

footer {
  font-weight: 500;
  width: 100%;
  height: auto;
  padding: 20px 100px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
