@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,500;0,700;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  height: 75px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.logo {
  width: max-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo i {
  color: #24c189;
}

.logo-title {
  font-size: 36px;
}

.logo-title a {
  color: #3f3f3f;
}

.logo-title a span {
  color: #24c189;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  list-style: none;
  gap: 40px;
  align-items: center;
}

.link {
  font-size: 18px;
  color: #198660;
}

.link:hover {
  text-decoration: underline;
}

.navegacao .fa-bars {
  display: none;
}

main {
  width: 100%;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  gap: 50px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.form-content {
  width: 100%;
  height: max-content;
}
.form-content h1 {
  color: #3f3f3f;
}

.inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 0;
  color: #3f3f3f;
  font-size: medium;
}

.input {
  border: 2px solid #24c189;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 90%;
}

.btn-login {
  border: none;
  background-color: #24c189;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  padding: 8px 0;
  font-weight: 500;
  font-size: 1.2rem;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #18835b;
  color: #fff;
}

.image-area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-area img {
  width: 100%;
}

.alert-dialog {
  position: absolute;
  text-align: center;
  width: 250px;
  height: 250px;
  border: none;
  border-radius: 5px;
  margin: auto;
  background-color: #fff;
  box-shadow: 10px 10px 44px -8px;
}

.dialog-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.dialog-content .close-content {
  width: 100%;
}

.alert-dialog .close-button {
  cursor: pointer;
  border: none;
  width: 50%;
  height: 30px;
  border-radius: 5px;
  background-color: #ff3737;
  color: #fff;
}

.close-button:hover {
  background-color: #b82020;
}

.alert-dialog::backdrop {
  background: rgba(0, 0, 0, 0.329);
}

@media screen and (width < 768px) {
  header {
    padding: 0 60px;
  }
  main {
    padding: 0 60px;
  }
  .logo-title {
    font-size: 32px;
  }
  .image-area {
    display: none;
  }
}

@media screen and (width < 550px) {
  header {
    padding: 0 20px;
  }
  main {
    padding: 0 20px;
  }
  .logo-title {
    font-size: 28px;
  }
  .logo {
    flex-direction: row-reverse;
  }
  .logo .fa-ship {
    display: none;
  }
  .navegacao .fa-bars {
    display: block;
    z-index: 1;
    color: #24c189;
    position: relative;
  }

  .menu {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    transition: 0.3s ease;
    flex-direction: column;
    justify-content: space-around;
    gap: 0;
  }

  .menu.active {
    top: 0;
  }

  .form-content h1 {
    text-align: center;
  }
}
