@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}
header {
  width: 100%;
  height: 75px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.logo {
  width: max-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo i {
  color: #24c189;
}

.logo-title {
  font-family: "Poppins", sans-serif;
  font-size: 42px;
}

.logo-title a {
  color: #171717;
}

.logo-title a span {
  color: #24c189;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  list-style: none;
  gap: 40px;
  align-items: center;
}

.link {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #198660;
}

.link:hover {
  text-decoration: underline;
}

main {
  font-family: "Poppins", sans-serif;
  gap: 250px; /* Ajustado de 500px para 50px */
  width: 100%;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.inputs {
  width: 400px; /* Ajustado de 300vh para 300px */
  height: 150px;
  display: flex;
  flex-direction: column;
  gap: 5px; /* Adicionado para espaçamento entre inputs */
  color: black;
  font-size: medium;
}
input[type="email"],
input[type="password"] {
  border: 2px solid #24c189;
  border-radius: 5px;
  height: 50px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}

.acessar {
  border: none;
  background-color: #24c189;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  width: 400px;
  height: 40px;
  margin-top: 10px; /* Ajustado para mais espaço acima */
  font-weight: 500;
  font-size: medium;
  transition: 0.3s ease;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.acessar:hover {
  background-color: #18835b;
  color: #fff;
}

.login img {
  width: 450px;
}

main h1 {
  font-size: 30px;
}
.suporte {
  margin-top: 8px;
  font-size: 12px;
}
.suporte a {
  margin-left: 176px;
}

.alert-dialog {
  position: absolute;
  text-align: center;
  width: 250px;
  height: 250px;
  border: none;
  border-radius: 5px;
  margin: auto;
  background-color: #fff;
  box-shadow: 10px 10px 44px -8px;
}

.dialog-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.dialog-content .close-content {
  width: 100%;
}

.alert-dialog .close-button {
  cursor: pointer;
  border: none;
  width: 50%;
  height: 30px;
  border-radius: 5px;
  background-color: #ff3737;
  color: #fff;
}

.close-button:hover {
  background-color: #b82020;
}

.alert-dialog::backdrop {
  background: rgba(0, 0, 0, 0.329);
}

footer {
  position: absolute;
  font-family: "Open-Sans", sans-serif;
  font-weight: 500;
  width: 100%;
  height: auto;
  padding: 3px 100px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
